/* reset */

body {
    margin:0px;
    padding:0px;
}

.bg-custom {
    background-color: #563D7C;
}

#more {display: none;}

.ph-link1 a {
    color: #563D7C !important;
}

.ph-link1 a:hover {
    text-decoration: none;
}

.ph-link2 a {
    color: #fff !important;
}

.ph-link2 a:hover {
    text-decoration: none;
}

/* footer css */

.padding-60{
    padding: 60px 0px;
}

#footer{
    background: rgb(61, 51, 51);
    color: #fff;
}
#footer ul {
    padding-left: 0px;
    list-style-type: none;
}
#footer ul li{
    margin-top: 8px;
}

/* footer ends */